<div class = "col-xs-12">
  <form role = "form" ng-submit = "submitCitizenServiceRequest()">
    <div class="form-group">
      <label for="requestTypeSelect">Select a request type</label>
      <select class = "form-control"  id = "requestTypeSelect" ng-model="citizenRequestType" ng-change = "onChangeRequestType(citizenRequestType)" ng-options="item.label for item in requestTypeOptions" ></select>
    </div>
    <div class="form-group" ng-repeat = "requestTypeField in requestTypeFields">
      <div ng-if = "requestTypeField.type !== 'hidden'">
        <label for="requestTypeField.name">
          <input ng-if = "requestTypeField.type === 'checkbox'" type="checkbox" id = "requestTypeField.name" ng-model = "requestTypeField.value">
          {{requestTypeField.label}} <span ng-if = "requestTypeField.required">*</span>
        </label>
        <p class = "text-muted"><small>{{requestTypeField.description}}</small></p>
        <textarea ng-if = "requestTypeField.type === 'textarea' && !requestTypeField.required" class="form-control" id = "requestTypeField.name" ng-model = "requestTypeField.value" rows="2"></textarea>
        <input ng-if = "requestTypeField.type === 'text' && !requestTypeField.required" type="text" class="form-control" id = "requestTypeField.name" ng-model = "requestTypeField.value">
        <select ng-if = "requestTypeField.type === 'singleselect' && !requestTypeField.required" class = "form-control" id = "requestTypeField.name" ng-model = "requestTypeField.value" ng-options="item.label for item in requestTypeField.options" ></select>
        <select multiple ng-if = "requestTypeField.type === 'multiselect' && !requestTypeField.required" class = "form-control" id = "requestTypeField.name" ng-model = "requestTypeField.value" ng-options="item.label for item in requestTypeField.options" ></select>
        <!-- is the field required? -->
        <textarea ng-if = "requestTypeField.type === 'textarea' && requestTypeField.required" required class="form-control" id = "requestTypeField.name" ng-model = "requestTypeField.value" rows="2"></textarea>
        <input ng-if = "requestTypeField.type === 'text' && requestTypeField.required" required type="text" class="form-control" id = "requestTypeField.name" ng-model = "requestTypeField.value">
        <select ng-if = "requestTypeField.type === 'singleselect' && requestTypeField.required" required class = "form-control" id = "requestTypeField.name" ng-model = "requestTypeField.value" ng-options="item.label for item in requestTypeField.options" ></select>
        <select multiple ng-if = "requestTypeField.type === 'multiselect' && requestTypeField.required" required class = "form-control" id = "requestTypeField.name" ng-model = "requestTypeField.value" ng-options="item.label for item in requestTypeField.options" ></select>
        
      </div>
    </div>
    <p ng-if = "requestTypeFields.length > 0"><small class="text-muted">* idicates a required field</small></p>
    <div ng-if = "submitted && submittedWithSuccess" class = "col-xs-12">
      <h3 class="text-success text-center"><i class="fa fa-check"></i> Your request has been submitted!</h3>
      <h4 class = "text-center">Your request ID number is <a target = "_blank" href="{{followUpUrl}}">{{requestedId}}</a>. </h4>
      <h4 class = "text-center">You can track your request <a target = "_blank" href="{{followUpUrl}}">here</a>.</h4>
    </div>
    <h3 ng-if = "submitted && !submittedWithSuccess" class="text-danger"><i class="fa fa-frown-o"></i> Something went wrong. Please try again. </h3>
    <h3 ng-if = "submitting" class="text-success" style = "margin- : 30px"><i class="fa fa-spinner fa-spin"></i></h3>
    <input type = "submit" ng-if = "!submitted && !submitting && requestTypeFields.length > 0" type="submit" class="btn btn-success" >
  </form>
</div>