<div>
  <div class = "col-xs-12" ng-if = "topic.features.length === 0">
    <div class="col-xs-12"><hr></div>
    <h3 class = "text-muted text-center"><strong>We couldn't find any results.</strong></h3>
    <h4 class = "text-muted text-center"><strong>Try expanding the time frame or extent of your search.</strong></h4>
  </div>
  <table ng-if = "topic.features.length !== 0" class="table table-hover col-xs-12" >
    <thead>
      <tr>
        <th class = "text-center text-muted">In The City?</th>
        <th class = "text-center text-muted">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "feature in topic.features">
        <td class = "text-muted text-center">
          <h4 ng-if = "feature.properties.isincity " >
            <i class="fa fa-lg fa-check-circle text-success"></i> 
          </h4>
          <h4 ng-if = "!feature.properties.isincity" class = "text-muted">
            <i class="fa fa-lg fa-times-circle text-danger"></i> 
          </h4>
        </td>
        <td class = "text-center" ng-click = "filterBy(feature)" >
          <h4 class = "text-muted">
            <strong>
              <span>{{feature.properties.street_number}} {{feature.properties.street_name}} {{feature.properties.street_type}}</span>
              <span ng-if = "feature.properties.unit_number === null">,</span>
              <span ng-if = "feature.properties.unit_number !== null">UNIT {{feature.properties.unit_number}},</span>
              <span>{{feature.properties.zip_code}}</span>
            </strong>
            
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>