
<div ng-repeat = "feature in topic.features">

	<div>
    <div class="col-xs-12">
    	<div class="col-xs-12 col-sm-6">
				<h4><strong class = "text-muted">Civic Address Id</strong> : <span>{{stateParams.id}}</span></h4>
				<h4><strong class = "text-muted">PIN</strong> : <span>{{feature.properties.pinnum}}</span></h4>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h4 ng-if = "feature.properties.isincity === 'Yes'" class = "text-muted">
					<i class="fa fa-lg fa-check-circle text-success pull-left"></i> 
					<strong>It's in the city!</strong>
				</h4>
				<h4 ng-if = "feature.properties.isincity === 'No'" class = "text-muted">
					<i class="fa fa-lg fa-times-circle text-danger pull-left"></i> 
					<strong>It's not in the city!</strong>
				</h4>
		
				<h4 ng-if = "feature.properties.iscityowned === 'Yes'" class = "text-muted">
					<i class="fa fa-lg fa-check-circle text-success pull-left"></i> 
					<strong>It's city owned!</strong>
				</h4>
				<h4 ng-if = "feature.properties.iscityowned === 'No'" class = "text-muted">
					<i class="fa fa-lg fa-times-circle text-danger pull-left"></i>
					 <strong>It's not city owned!</strong>
				</h4>
		</div>
    </div>
	</div>
	<div ng-include = "'topic/topic-views/owner.view.html'"></div>
	<div ng-include = "'topic/topic-views/zoning.view.html'"></div>
	<div class="col-xs-12 list-item-panel">
		<h4>Property and Tax Value</h4>
      	<table class="table ">
	      <thead>
	        <tr>
	          <th>Value Type</th>
	          <th>Amount</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td>Building Value</td>
	          <td>${{feature.properties.buildingvalue|number}}</td>
	        </tr>
	        <tr>
	          <td>Land Value</td>
	          <td>${{feature.properties.landvalue|number}}</td>
	        </tr>
	        <tr>
	          <td>Appraised Value</td>
	          <td>${{feature.properties.appraisedvalue|number}}</td>
	        </tr>
	        <tr>
	          <td>Tax Value</td>
	          <td>${{feature.properties.taxvalue|number}}</td>
	        </tr>
	        <tr>
	          <td>Total Market Value</td>
	          <td>${{feature.properties.totalmarketvalue|number}}</td>
	        </tr>
	      </tbody>
	    </table>
    </div>
    <div class="col-xs-12 list-item-panel">
			<h4>Other Details</h4>
			<p class = "col-sm-6" ng-if= "feature.properties.exempt === null">
				Tax exempt : <span>NO</span>
			</p>
	      	<p  class = "col-sm-6"ng-if= "feature.properties.exempt !== null">
	      		Tax exempt : <span>YES</span>
	      	</p>
	      	<p  class = "col-sm-6"ng-if= "feature.properties.improved === 'Y'">
	      		Improved : 
	      		<span>YES (${{feature.properties.improvementvalue|number}})</span>
	      	</p>
	      	<p class = "col-sm-6">Appraisal Area : {{feature.properties.appraisalarea}}</p>
	      	<p class = "col-sm-6">Acreage : {{feature.properties.acreage}} acres</p>
		</div>
	<div class="col-xs-12 list-item-panel">
		<br>
		<a class="col-xs-12 col-sm-4 text-center btn btn-primary" style = "margin-bottom : 10px" target = "_blank" href = "{{feature.properties.deed_url}}"><i class="fa fa-2x fa-file-text-o"></i><br>Deed</a>
		<a class="col-xs-12 col-sm-4 text-center btn btn-primary" style = "margin-bottom : 10px" target = "_blank" href = "{{feature.properties.plat_url}}"><i class="fa fa-2x fa-file-text-o"></i><br>Plat</a>
		<a class="col-xs-12 col-sm-4 text-center btn btn-primary" style = "margin-bottom : 10px" target = "_blank" href = "{{feature.properties.proptopic_url}}"><i class="fa fa-2x fa-file-text-o"></i><br>Property Card</a>
		<br>
	</div>
</div>

