
<div ng-repeat = "feature in topic.features | filter:filterText" >

	<div  >
    <div class="col-xs-12">
    	<div class="col-xs-12 col-sm-6">
				<h4><strong class = "text-muted">Civic Address Id</strong> : <span>{{feature.properties.civicaddress_id}}</span></h4>
				<h4><strong class = "text-muted">PIN</strong> : <span>{{feature.properties.pinnum}}</span></h4>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h4 ng-if = "feature.properties.isincity === 'Yes'" class = "text-muted">
					<i class="fa fa-lg fa-check-circle text-success pull-left"></i> 
					<strong>It's in the city!</strong>
				</h4>
				<h4 ng-if = "feature.properties.isincity === 'No'" class = "text-muted">
					<i class="fa fa-lg fa-times-circle text-danger pull-left"></i> 
					<strong>It's not in the city!</strong>
				</h4>
		
				<h4 ng-if = "feature.properties.iscityowned === 'Yes'" class = "text-muted">
					<i class="fa fa-lg fa-check-circle text-success pull-left"></i> 
					<strong>It's city owned!</strong>
				</h4>
				<h4 ng-if = "feature.properties.iscityowned === 'No'" class = "text-muted">
					<i class="fa fa-lg fa-times-circle text-danger pull-left"></i>
					 <strong>It's not city owned!</strong>
				</h4>
		</div>
    </div>
	</div>
	<div class = "col-xs-12 list-item-panel">
		<h4>Address</h4>
		<address class = "text-muted">
			<strong>{{feature.properties.street_number}} {{feature.properties.street_name}} {{feature.properties.street_type}} 
			<span ng-if = "feature.properties.unit_number !== null"> Unit {{feature.properties.unit_number}}</span>
			</strong>
		</address>
	</div>
	<div class = "col-xs-12 list-item-panel">
		<h4>Owner</h4>
		<strong class = "text-muted">{{feature.properties.owner}}</strong>
		<address>{{feature.properties.owner_address}}<br>
		{{feature.properties.owner_citystatezip}}</address>
	</div>
	<div class = "col-xs-12 list-item-panel">
		<h4>Zoning</h4>
		<h5 class = "text-muted" >
			<strong>District</strong>
			: 
			<span ng-if = "feature.properties.zoning.length > 0" ng-repeat = "zoning in feature.properties.zoning">
				<span ng-if = "zoning.codelink === 'disable'">{{zoning.zoningDistrict}}</span>
				<a target = "_blank" href="{{zoning.codelink}}"><strong> {{zoning.zoningDistrict}}<span ng-if = "$index !==  feature.properties.zoning.length - 1 && feature.properties.zoning.length !== 1">, </span></strong></a>
			</span>
			<span ng-if = "feature.properties.zoning.length === 0 || feature.properties.zoning === undefined">No City of Asheville Zoning</span>
		</h5>

		<h5 ng-if = "feature.properties.zoningOverlays !== undefined" >
			<strong>Zoning Overlay</strong>
			:
			<span>{{feature.properties.zoningOverlays}}</span>
		</h5>
	</div>
	<div ng-if = "feature.properties.neighborhood !== null" class = "col-xs-12 list-item-panel">
		<h4>Neighborhood</h4>
		<h5 class="text-muted"><strong>{{feature.properties.neighborhood}}</strong></h5>
	</div>
	
	
	<div class="col-xs-12 list-item-panel">
		<h4>Property and Tax Value</h4>
      	<table class="table ">
	      <thead>
	        <tr>
	          <th>Value Type</th>
	          <th>Amount</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td>Building Value</td>
	          <td>${{feature.properties.buildingvalue|number}}</td>
	        </tr>
	        <tr>
	          <td>Land Value</td>
	          <td>${{feature.properties.landvalue|number}}</td>
	        </tr>
	        <tr>
	          <td>Appraised Value</td>
	          <td>${{feature.properties.appraisedvalue|number}}</td>
	        </tr>
	        <tr>
	          <td>Tax Value</td>
	          <td>${{feature.properties.taxvalue|number}}</td>
	        </tr>
	        <tr>
	          <td>Total Market Value</td>
	          <td>${{feature.properties.totalmarketvalue|number}}</td>
	        </tr>
	      </tbody>
	    </table>
    </div>
    <div class="col-xs-12 list-item-panel">
			<h4>Other Details</h4>
			<p class = "col-sm-6" ng-if= "feature.properties.exempt === null">
				Tax exempt : <span>NO</span>
			</p>
	      	<p  class = "col-sm-6"ng-if= "feature.properties.exempt !== null">
	      		Tax exempt : <span>YES</span>
	      	</p>
	      	<p  class = "col-sm-6"ng-if= "feature.properties.improved === 'Y'">
	      		Improved : 
	      		<span>YES (${{feature.properties.improvementvalue|number}})</span>
	      	</p>
	      	<p class = "col-sm-6">Appraisal Area : {{feature.properties.appraisalarea}}</p>
	      	<p class = "col-sm-6">Acreage : {{feature.properties.acreage}} acres</p>
		</div>
	<div class="col-xs-12 list-item-panel" style = "margin-bottom : 20px">
		<br>
		<a class="col-xs-12 col-sm-4 text-center btn btn-primary" style = "margin-bottom : 10px" target = "_blank" href = "{{feature.properties.deed_url}}"><i class="fa fa-2x fa-file-text-o"></i><br>Deed</a>
		<a class="col-xs-12 col-sm-4 text-center btn btn-primary" style = "margin-bottom : 10px" target = "_blank" href = "{{feature.properties.plat_url}}"><i class="fa fa-2x fa-file-text-o"></i><br>Plat</a>
		<a class="col-xs-12 col-sm-4 text-center btn btn-primary" style = "margin-bottom : 10px" target = "_blank" href = "{{feature.properties.propcard_url}}"><i class="fa fa-2x fa-file-text-o"></i><br>Property Card</a>
		<br>
	</div>
</div>

