<div class = 'col-xs-12 list-item-panel'>
	<div class="col-xs-12" style = "padding : 10px">
			<h4>Trash</h4>
			<p>Your trash is collected every <strong>{{card.trash}}</strong>.</p>
			<br>
			<h4>Recycling</h4>
			<p class = "text-muted">Recycling is collected every other week. </p>
	      	<p>Your recycling will be collected <strong>{{card.recyclingSchedule.when}} on {{card.recycling}}</strong>.</p>
	      	<br>
	      	<h4>Brush and Leaf Collection</h4>
			<p class = "text-muted">Brush and leaves are collected every other week, and should be placed at the curb by 7 a.m. on Monday of your pickup week.</p>
	      	<p>Your brush will be collected <strong>{{card.brushSchedule.when}}</strong>.</p>	
	      	<br>	
	      	<h4>Bulky Item Collection</h4>
	      	<p>Call to schedule pickup 
	      		<a href="tel:8282511122" target = "_blank">(828) 251-1122</a>.
	      		<a href="http://www.ashevillenc.gov/Departments/Sanitation/BulkyItemCollection.aspx" target = "_blank">More Info.</a>
	      	</p>	
	</div>
</div>