<div>
  <h1 class="text-muted text-center">
    <strong>{{heading}}</strong>
  </h1>
  <div class="list-group">
    <a class="row list-group-item list-item-panel" href = '{{topic.linkTo}}' style = "margin-bottom : 5px" ng-repeat = "topic in topics">
      <!-- mobile -->
      <img class = "visible-xs img-circle pull-left col-xs-3" src="{{topic.image}}">
      <span class="visible-xs col-xs-7"><h4 class="text-muted"> <strong>{{topic.question}}</strong></h4></span>
      <span class="visible-xs col-xs-1" ><span class="pull-right" style = "margin-top : 50%"><i class=" fa fa-2x fa-chevron-right text-primary"></i></span></span> 
      <!-- desktop/tablet -->
      <img class = "hidden-xs img-circle pull-left col-sm-2" src="{{topic.image}}">
      <h3 class="hidden-xs col-sm-9 text-muted" style = "margin-top : 35px"> <strong>{{topic.question}}</strong></h3>
      <h3 class="col-sm-1 hidden-xs"><i  class="fa fa-2x fa-chevron-right text-primary pull-right"></i></h3>
    </a>
  </div>
</div>

