<div class="col-md-6 col-md-offset-3">
  <br>
  <div class = "col-xs-12">
    <div class="col-xs-12 hidden-xs">
      <div class="pull-left" ng-click = "goHome();"; style = "cursor : pointer">
        <!-- <h1 >dr<span class = "text-primary">o</span>plet</h1> -->
        <h1 style = "color : #073F97">SimpliCity</h1>
        <h4>city data simplified</h4>
      </div>  
      <img class = "pull-right" style = "margin-top: 5px; height : 100px" src="http://123graffitifree.com/images/citylogo-flatblue.png">
    </div>
    <div class="col-xs-12 visible-xs">
      <div class="pull-left" ng-click = "goHome();"; style = "cursor : pointer">
        <!-- <h1 >dr<span class = "text-primary">o</span>plet</h1> -->
        <h4 style = "color : #073F97">SimpliCity</h4>
        <h5>city data simplified</h5>
      </div>  
      <img class = "pull-right " style = "margin-top: 5px; height : 50px" src="http://123graffitifree.com/images/citylogo-flatblue.png">
    </div>
    <div class="col-xs-12">
      <br>
    </div>
    <div class = "row" ui-view></div>
  </div>
</div>