<div>
	<div class="col-xs-12">
		<div class="col-xs-12 col-sm-6">
			<h5 class = 'pull-left'>{{card.attributes.address}}</h5>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h5 class = 'pull-right'>{{card.attributes.thedate|date}}</h5>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="col-xs-12 col-sm-4">
			<p class = "text-center"> <strong >Case Number</strong></p>
			<p class = "text-center">{{card.attributes.casenumber}}</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<p class = "text-center"><strong>Law Beat</strong></p>
			<p class = "text-center">{{card.attributes.law_beat}}</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<p class = "text-center"><strong >Severity</strong></p>
			<p class = "text-center">{{card.attributes.severity}}</p>
		</div>
	</div>
	<a  ng-click = "showMore = !showMore">
		<p class = 'text-center' ng-if = 'showMore'>Show More</p>
		<p class = 'text-center' ng-if = 'showMore'>Show Less</p>
	</a>
</div>