<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <div class="col-xs-12">
        <div class="col-xs-6">
            <div class="pull-left" analytics-on="click" analytics-category="Navigation" analytics-event="SimpliCity Logo" ng-click = "goHome()" style = "cursor : pointer">
                <h2 style = "color : #073F97;" class = "text-center">SimpliCity</h2>
                <h5 class = "text-center">city data simplified</h5>
            </div>
            
        </div>
        <div class="col-xs-6" style = "margin-top : 10px">
            <a href="http://www.ashevillenc.gov/" target = "_blank" analytics-category="Navigation" analytics-on="click" analytics-event="City Logo">
                <img class = "pull-right" style = "height : 80px;" src="citylogo-flatblue.png">
            </a>
            
        </div>
    </div>
    <div>
        <input id = "stupid-required-google-input" type="hidden">
    </div>

    
    <div  ui-view ></div>
</div>
