<div class = "row list-item-panel" style = "padding : 20px">
	<div class="col-xs-12">
		<a class="col-xs-12 btn btn-primary"  ng-click = "goBack();">
			<h4><i class="fa fa-chevron-left pull-left" style = "margin-top : 3px"></i>Back to Questions </h4>
		</a>
	</div>
	<div class="col-xs-6">
		<h3>{{category.title}}</h3>
	</div>
		<div class="col-xs-6">
			<address class = "pull-right" style = "margin-top: 12px;">
			  <strong>{{locationProperties.address.attributes.House}} {{locationProperties.address.attributes.preType}} {{locationProperties.address.attributes.StreetName}} {{locationProperties.address.attributes.SufType}} {{locationProperties.address.attributes.SufDir}} 
			  	<span ng-if= "locationProperties.address.attributes.User_fld !== ''">UNIT: {{locationProperties.address.attributes.User_fld}}</span>
			  </strong><br>
			  <span ng-if = "locationProperties.inTheCity">Asheville, NC</span>
			  {{locationProperties.address.attributes.ZIP}}
			</address>
		</div>
	<div ui-view></div>
</div>
