<div class = 'col-xs-12'>
	<div class="col-xs-12" style = "padding : 10px">
		<div class="col-xs-12 list-item-panel">
			<div class="col-xs-12 col-sm-6">
				<h5><strong>Civic Address Id</strong> : <span>{{card.attributes.civicAddressId}}</span></h5>
				<h5><strong>PIN</strong> : <span>{{card.attributes.pinnum}}</span></h5>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h5 ng-if = "card.attributes.isincity === 'Yes'">
					<i class="fa fa-check-circle text-success pull-left"></i> 
					It's in the city!
				</h5>
				<h5 ng-if = "card.attributes.isincity === 'No'">
					<i class="fa fa-times-circle text-danger pull-left"></i> 
					It's not in the city!
				</h5>
		
				<h5 ng-if = "card.attributes.iscityowned === 'Yes'">
					<i class="fa fa-check-circle text-success pull-left"></i> 
					It's city owned!
				</h5>
				<h5 ng-if = "card.attributes.iscityowned === 'No'">
					<i class="fa fa-times-circle text-danger pull-left"></i>
					 It's not city owned!
				</h5>
			</div>
		</div>
		
			<!-- owner	card --> 
			<div ng-include = "topic/cards/owner.card.html"></div>
			<!-- zoning card -->
			<div ng-include = "topic/cards/zoning.card.html"></div>

			<div class="col-xs-12 list-item-panel">
				<h4>Tax Details</h4>
				<p ng-if= "card.attributes.exempt === null">
					Tax exempt : <span>NO</span>
				</p>
		      	<p ng-if= "card.attributes.exempt !== null">
		      		Tax exempt : <span>YES</span>
		      	</p>
		      	<p ng-if= "card.attributes.improved === 'Y'">
		      		Improved : 
		      		<span>YES (${{card.attributes.improvementvalue|number}})</span>
		      	</p>
		      	<p>Appraisal Area : {{card.attributes.appraisalarea}}</p>
			</div>
			<div class="col-xs-12 list-item-panel">
				<h4>Property and Tax Value</h4>
		      	<table class="table ">
			      <thead>
			        <tr>
			          <th>Value Type</th>
			          <th>Amount</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>Building Value</td>
			          <td>${{card.attributes.buildingvalue|number}}</td>
			        </tr>
			        <tr>
			          <td>Land Value</td>
			          <td>${{card.attributes.landvalue|number}}</td>
			        </tr>
			        <tr>
			          <td>Appraised Value</td>
			          <td>${{card.attributes.appraisedvalue|number}}</td>
			        </tr>
			        <tr>
			          <td>Tax Value</td>
			          <td>${{card.attributes.taxvalue|number}}</td>
			        </tr>
			        <tr>
			          <td>Total Market Value</td>
			          <td>${{card.attributes.totalmarketvalue|number}}</td>
			        </tr>
			      </tbody>
			    </table>
		    </div>
		<div class="col-xs-12 list-item-panel">
			<br>
			<a class="col-xs-12 col-sm-4 text-center btn btn-primary" style = "margin-bottom : 10px" target = "_blank" href = "{{card.attributes.deed_url}}"><i class="fa fa-2x fa-file-text-o"></i><br>Deed</a>
			<a class="col-xs-12 col-sm-4 text-center btn btn-primary" style = "margin-bottom : 10px" target = "_blank" href = "{{card.attributes.plat_url}}"><i class="fa fa-2x fa-file-text-o"></i><br>Plat</a>
			<a class="col-xs-12 col-sm-4 text-center btn btn-primary" style = "margin-bottom : 10px" target = "_blank" href = "{{card.attributes.propcard_url}}"><i class="fa fa-2x fa-file-text-o"></i><br>Property Card</a>
			<br>
		</div>
	</div>
</div>
