<div class = "col-xs-12">
	<div class="list-group" >
		<a class="col-xs-12 list-group-item list-item-panel hidden-xs">
			<div class="col-xs-12 col-sm-4">
			<!-- <address class = "pull-left">
			  <strong>{{IdProperties.address.attributes.House}} {{IdProperties.address.attributes.preType}} {{IdProperties.address.attributes.StreetName}} {{IdProperties.address.attributes.SufType}} {{IdProperties.address.attributes.SufDir}} 
			  	<span ng-if= "IdProperties.address.attributes.User_fld !== ''">UNIT: {{IdProperties.address.attributes.User_fld}}</span>
			  </strong><br>
			  <span ng-if = "IdProperties.inTheCity">Asheville, NC</span>
			  {{IdProperties.address.attributes.ZIP}}
			</address> -->
			<address class="pull-left">{{IdProperties.address.attributes.Match_addr}}</address>
			</div>
			<div class="col-xs-12 col-sm-8" ng-if = "IdProperties.address.attributes.Loc_name === 'address'">
				<div ng-if = "IdProperties.inTheCity" class="pull-right">
					<i class="fa fa-check-circle fa-2x text-success pull-left" style = "margin-top : 10px"></i> 
					<h3 class="pull-left" style = "margin-top : 7px">It's in the city!</h3>
				</div>
				<div ng-if = "!IdProperties.inTheCity" class="pull-right">
					<i class="fa fa-times-circle fa-2x text-danger pull-left" style = "margin-top : 10px"></i> 
					<h3 class="pull-left" style = "margin-top : 7px" >It's not in the city!</h3>
				</div>
			</div>
		</a>
		<a class="col-xs-12 list-group-item list-item-panel visible-xs" >
			<div class="col-xs-12 col-md-4">
				<address>
				  <strong>{{IdProperties.address.attributes.House}} {{IdProperties.address.attributes.preType}} {{IdProperties.address.attributes.StreetName}} {{IdProperties.address.attributes.SufType}} {{IdProperties.address.attributes.SufDir}} 
				  	<span ng-if= "IdProperties.address.attributes.User_fld !== ''">UNIT: {{IdProperties.address.attributes.User_fld}}</span>
				  </strong><br>
				  <span ng-if = "IdProperties.inTheCity">Asheville, NC</span>
				  {{IdProperties.address.attributes.ZIP}}
				</address>
			</div>
		</a>
		<a ng-if = "IdProperties.inTheCity" class="col-xs-12 list-group-item list-item-panel visible-xs">
			<i class="fa fa-check-circle fa-2x text-success pull-left" style = ""></i> 
			<h5 class="pull-left" style = "margin-top : 7px" >It's in the city!</h5>
		</a>
		<a ng-if = "!IdProperties.inTheCity" class="col-xs-12 list-group-item list-item-panel visible-xs">
			<i class="fa fa-times-circle fa-2x text-danger pull-left" style = "margin-top : 10px"></i> 
			<h5 class="pull-left" style = "margin-top : 7px">It's not in the city!</h5>
		</a>
	</div>
	<div class = 'container col-xs-12 hidden-xs' style = "top : 75px; left : 2px" ng-class = '{back : back}' ui-view></div>
	<div class = 'container col-xs-12 visible-xs' style = "top : 140px; left : 0px" ng-class = '{back : back}' ui-view></div>
</div>