<div class = "col-xs-12">
	<div class="list-group" >
		<a class="col-xs-12 list-group-item list-item-panel hidden-xs">
			<div class="col-xs-12 col-sm-4">
			<address class = "pull-left">
			  <strong>{{locationProperties.address.attributes.House}} {{locationProperties.address.attributes.preType}} {{locationProperties.address.attributes.StreetName}} {{locationProperties.address.attributes.SufType}} {{locationProperties.address.attributes.SufDir}} 
			  	<span ng-if= "locationProperties.address.attributes.User_fld !== ''">UNIT: {{locationProperties.address.attributes.User_fld}}</span>
			  </strong><br>
			  <span ng-if = "locationProperties.inTheCity">Asheville, NC</span>
			  {{locationProperties.address.attributes.ZIP}}
			</address>
			</div>
			<div class="col-xs-12 col-sm-8">
			<div ng-if = "locationProperties.inTheCity" class="pull-right">
				<i class="fa fa-check-circle fa-2x text-success pull-left" style = "margin-top : 10px"></i> 
				<h3 class="pull-left" style = "margin-top : 7px">It's in the city!</h3>
			</div>
			<div ng-if = "!locationProperties.inTheCity" class="pull-right">
				<i class="fa fa-times-circle fa-2x text-danger pull-left" style = "margin-top : 10px"></i> 
				<h3 class="pull-left" style = "margin-top : 7px" >It's not in the city!</h3>
			</div>
			</div>
		</a>
		<a class="col-xs-12 list-group-item list-item-panel visible-xs" >
			<div class="col-xs-12 col-md-4">
				<address>
				  <strong>{{locationProperties.address.attributes.House}} {{locationProperties.address.attributes.preType}} {{locationProperties.address.attributes.StreetName}} {{locationProperties.address.attributes.SufType}} {{locationProperties.address.attributes.SufDir}} 
				  	<span ng-if= "locationProperties.address.attributes.User_fld !== ''">UNIT: {{locationProperties.address.attributes.User_fld}}</span>
				  </strong><br>
				  <span ng-if = "locationProperties.inTheCity">Asheville, NC</span>
				  {{locationProperties.address.attributes.ZIP}}
				</address>
			</div>
		</a>
		<a ng-if = "locationProperties.inTheCity" class="col-xs-12 list-group-item list-item-panel visible-xs">
			<i class="fa fa-check-circle fa-2x text-success pull-left" style = ""></i> 
			<h5 class="pull-left" style = "margin-top : 7px" >It's in the city!</h5>
		</a>
		<a ng-if = "!locationProperties.inTheCity" class="col-xs-12 list-group-item list-item-panel visible-xs">
			<i class="fa fa-times-circle fa-2x text-danger pull-left" style = "margin-top : 10px"></i> 
			<h5 class="pull-left" style = "margin-top : 7px">It's not in the city!</h5>
		</a>
		<a class="col-xs-12 list-group-item list-item-panel" ng-click = 'getAnswer(question)' ng-repeat = "question in questions" tabindex='{{$index + 11}}'>
			<h4>{{question.question}}<i class="fa fa-lg fa-chevron-right pull-right text-primary"></i> </h4>
		</a>
		<a class="col-xs-12 list-group-item list-item-panel" ng-show = 'more.show' ng-click = 'more.get()' tabindex='{{questions.length + 12}}'>
			<h3 class = "text-primary" style = "text-align : center">More <i class="fa fa-chevron-down pull-right text-primary"></i></h3>
		</a>
	</div>
</div>