<div ui-view></div>
<div id = "searchContent">
  <div class = "col-xs-12" style = "margin-top : 20px">
     <p class=" text-muted text-center lead" style = "margin-bottom : 0px; margin-top : 20px">Discover city data about <strong>{{discoverText}}</strong> in your community.</p>
     <p class=" text-muted text-center lead">Search for {{searchFor}} to get started!</p>
  </div>
  <div class="col-xs-12">
    <div class="input-group">
      <input id = "inputSearch" groupindex = '1' type="text" autocomplete = "on" class="form-control" placeholder = "Enter a location..." style = "z-index: 0" ng-model = "searchText" ng-keyup = "doSearch(searchText, $event)" autofocus>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" style = "box-shadow : none; font-size : 17px"><i class="fa fa-search"></i></button>
      </span>
    </div>
    
  </div>
  
  
  <div class="" ng-show = "errorMessage.show || helperMessage.show || searchGroups.length > 0">

    <p ng-show = "errorMessage.show" class="text-danger">{{errorMessage.message}}</p>
    <p ng-show = "helperMessage.show" class="text-success">{{helperMessage.message}}</p>
    


    <div ng-repeat  = "group in searchGroups" >
        <div class="col-xs-12" style = "margin-top : 10px; margin-bottom : 10px">
            <h4 class="row text-muted">
              <span class="fa-stack fa-lg" ng-click = "goBack()">
            <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-stack-1x fa-inverse" ng-class = "group.iconClass"></i>
          </span>
              <strong>{{group.label}} </strong>
              <span class="badge" style = "background : #999">{{group.results.length}}</span>
              <span ng-if = "group.name === 'google_places'"><img src="images/powered-by-google-on-white.png" alt="" class = "pull-right" style = "padding : 20px"></span>
            </h4>
            <div class="list-group" ng-repeat = "candidate in group.results | limitTo : group.offset" >
                <a analytics-on="click" analytics-category="Search" analytics-label="{{candidate.type}}" analytics-event="{{candidate.label}}" ng-click = "goToTopics(candidate, $event)" ng-keypress = "goToTopics(candidate, $event)" class = "row list-group-item" > 
                  <span class="col-xs-2 col-lg-1">
                    <span class="fa-stack fa-lg text-primary">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-stack-1x fa-inverse" ng-class = "group.iconClass"></i>
                    </span>
                  </span>  
                <p class="col-xs-8 col-lg-9 pull-left text-primary" style = "margin-top : 8px">{{candidate.label}}</p>
                <h4 class="col-xs-2 col-lg-2">
                    <i class="fa fa-lg fa-chevron-right text-primary pull-right"></i>
                </h4>
              </a> 
            </div>
            <div class="list-group" ng-if = "group.results.length > 3">
          <a  ng-click = "group.offset = group.offset + 3" class = "row list-group-item" > 
            <h4 class="col-xs-10 text-primary">
              <strong>More</strong>
            </h4>
            <h4 class="col-xs-2">
              <i class="fa fa-lg fa-chevron-down text-primary pull-right"></i>
            </h4>
          </a> 
            </div>
        </div> 
    </div>
    <p ng-show = "errorMessage.show" class="text-danger">{{errorMessage.message}}</p>
  </div>
  <div class="col-xs-12 col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 text-center" style = "margin-top : 20px;">
    <h5 class="text-muted">Check out SimpliCity in action below...</h5>
    <div class="embed-responsive embed-responsive-16by9 ">

      <iframe class = "embed-responsive-item" src="https://www.youtube.com/embed/Pdcmt00fcHY" frameborder="1px" allowfullscreen style = "border : 1px solid #2780E3"></iframe>
    </div>  
    
  </div>
  <div ng-show = "showTopicsLink" class = "col-xs-12 col-md-6 col-md-offset-3 text-center" style = "margin-top : 20px">
      <a href="#/topics/list">Not sure what you are looking for? Click here to view topics</a>
  </div>
  <div class = "col-xs-12" style = "margin-top : 20px">
    <h4 class="text-primary text-center">
      Developed by the
      <a href="http://www.ashevillenc.gov/" target = "_blank">City of Asheville </a>
      <i class="fa fa-smile-o"></i>
    </h4>
    <h5 class = "text-center text-muted">It's Open Source! Fork it on <a href="https://github.com/cityofasheville/simplicity-ui">GitHub <i class="fa fa-github"></i> </a> </h5>
    <p class="text-center text-muted" style = "margin-top : 20px">Questions, concerns, comments? Contact us at <a href="mailTo:Help@ashevillenc.gov">Help@ashevillenc.gov</a></p>
  </div>

  
  <!-- <a><p class="text-center">Or view a list of topics</p></a> -->
</div>
